<!DOCTYPE html>
<html>
<div class=page>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
     <head>
     	<title>Stock Price</title>
     </head>
     <div class=metanav>
     <body>
        <div class="container">
     	<!--Headings-->
         	<div class="background_image">
            <h1 class="box-1">Please type in the stock interested</h1>
            <h2>Please be advised only some stocks are available due to limits set by the data provider</h2>
            <h2>Date needs to be in between 1981 and now</h2>
            </div> 
            <hr>
            <form class="stock_pick" method="POST" action="index">
                <label>Please type in the stock name</label>
                <input type="text" name="abbr_stock" />                   
                <label>Please type in start date</label>
                <input type="date" name="start_date" /> 
                <label>Please type in end date</label>
                <input type="date" name="end_date" /> 
                <br>
                <input type='submit' value='Submit' />
            </form>  
             
        </div>   	
     </body>
     </div>
</div>
</html>